/* Have fun. This is your site. */

body {
  background: lightgray;
}

h1 {
  text-align: center;
  color: darkblue;
}

/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;

}

img {
  display: block;
  margin-inline: left;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
